* {
	font-family: Hack;
	font-size: 10pt;
	border: 0;
	border-radius: 0px;
	color: #ffe6ff;
	padding: 0 0;
	margin-right: 4px;
	margin-left: 4px;
	padding-bottom: 0px;
}

window#waybar {
	background: rgba (0, 0, 0, 0.45);
}

#workspaces button {
	padding: 2px 0px;
	border-bottom: 2px;
	border-style: solid;
	margin-top: 4px;
	color: #ffe6ff;
	border-color: #ffe6ff
}

#workspaces button.active {
	border-color: #555555
}

#workspaces button.focused {
	border-color: #ff9eff
}

#network.disconnected {
	border-color: #ff6e6e
}

#network, #cpu, #memory, #custom-clock {
	padding: 0px 3px;
	border-bottom: 2px;
	border-color: #ffe6ff;
	border-style: solid;
}
