* {
	font-family: Hack;
	font-size: 10pt;
	border: 0;
	border-radius: 0px;
	color: #161514;
	padding: 0 0;
	margin-right: 4px;
	margin-left: 4px;
	padding-bottom: 0px;
}

window#waybar {
	background: #d8d8d0;
}

#tags button {
	padding: 0px 0px;
	border-bottom: 4px;
	border-style: solid;
	color: #161514;
	border-color: #161514;
}

#tags button:hover {
	background: none;
	box-shadow: none;
	text-shadow: none;
}

#tags button.occupied {
	border-color: #555555;
	color: #ff9eff;
}

#tags button.focused {
	border-color: #ff9eff;
}

#tags button.urgent {
	border-color: #ff6e6e;
}

#workspaces button {
	padding: 0px 0px;
	border-bottom: 4px;
	border-style: solid;
	color: #161514;
	border-color: #161514;
}

#workspaces button:hover {
	background: none;
	box-shadow: none;
	text-shadow: none;
}

/* UNCOMMENT IF USING NIRI */
/* #workspaces button.active {
	border-color: #555555;
} */

/* COMMENT IF USING NIRI */
#workspaces button.active {
	border-color: #ff9eff;
}

/* UNCOMMENT IF USING NIRI */
/* #workspaces button.focused {
	border-color: #ff9eff;
} */

#network.disconnected {
	border-color: #ff6e6e;
}

#network, #cpu, #memory, #custom-clock {
	padding: 0px 3px;
	border-bottom: 4px;
	border-color: #161514;
	border-style: solid;
}
